@import '../scss/colors';
@import '../scss/reset';
@import '../scss/mixins';

$max-width: 662px;
$header-height: 2.5em;
$footer-height: 4em;

@mixin chatWidth {
    width: 100%;
    max-width: $max-width;
}

.chat{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header{
        @include chatWidth;
        background-color: $primary-l-color;
        height: $header-height;
        padding: 0 1em;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-body{
        @include chatWidth;
        background-color: $main-l-color;
        padding: 0.5em;
        margin-top: $header-height;
        height: calc(100% - $header-height - $footer-height);
        list-style: none;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    &-footer{
        @include chatWidth;
        @include flexCenter(row,1em);
        background-color: $main-color;
        height: $footer-height;
        position: fixed;
        bottom: 0;
    }
    &-input{
        width: 80%;
        color: #fff;
        font-size: 1.25rem;
        border: 0.1em solid $main-l-color;
        padding: 0.25em 0.4em;
        border-radius: 0.25em;
    }
}


@import '../scss/buttons';
@import '../scss/util';