@import '../scss/colors';
@import '../scss/reset';
@import '../scss/mixins';
@import '../scss/buttons';


$max-width: 662px;
$header-height: 2.5em;
$footer-height: 4em;

.chat{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content{
        width: 100%;
        height: 100%;
        max-width: $max-width;
        position: relative;
    }
    &-header{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        width: 100%;
        top: 0;
        height: $header-height;
        background-color: $primary-l-color;
        svg{
            cursor: pointer;
        }
    }
    &-list-messages{
        $padding: 1em;
        position: absolute;
        top: $header-height;
        width: 100%;
        height: calc(100% - $header-height - $footer-height);
        background-color: $main-l-color;
        padding: $padding;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    &-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footer-height;
        background-color: $main-color;
        @include flexCenter(row,1em);
    }
    &-input{
        width: 75%;
        border: 0.25em solid $main-l-color;
        padding: 0.5em 0.5em;
        color: #fff;
    }
}