:root{
    --width-field: 85%;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 1em;
}
.card{
    background-color: var(--grey);
    width: 100%;
    max-width: 450px;
    padding: 2.5em 0;
    border-radius: 0.25em;
    box-shadow: .8rem .8rem .35rem rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.card-header{
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: .25em;
    margin-bottom: 1em;
}
.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.card-footer{
    width: var(--width-field);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.form-group{
    border: none;
    width: var(--width-field);
    display: flex;
    flex-direction: column;
}
.form-label{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 0.5em;
}
.form-input{
    width: 95%;
    color: #ffffff;
    border: 0.1em solid #fff;
    border-radius: 0.25em;
    background-color: transparent;
    font-size: 1.1rem;
    padding: .2em 2%;
}
.form-group .link-blue{
    padding: 0.25em 0.5em;
    margin-bottom: 0,5em;
}
.link-blue{
    cursor: pointer;
    text-align: end;
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}
.button-blue{
    cursor: pointer;
    width: var(--width-field);
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 0.25em;
    padding: .25em 1em;
    font-size: 1.1rem;
    font-weight: bold;
}
.dividers-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.dividers-row hr{
    width: 100%;
}
.card-auth{
    cursor: pointer;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    border: none;
    border-radius: 0.25em;
    padding: .25em 1em;
    font-size: 1.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.card-icon{
    --size: 1.2em;
    width: var(--size);
    height: var(--size);
}
.padding-card-tiny{
    padding: 1em 0;
}