@import '../scss/colors';
@import '../scss/mixins';

.message{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    .content{
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        background-color: $main-color;
        max-width: 100%;
        border-radius: 0.5em;
        padding: 0.5em ;
    }
    .header{
        color:$primary-l-color;
    }
    .footer{
        align-self: flex-end;
        font-size: 0.75rem;
    }
}
.message:last-child{
    transition: all ease-in 1s;
}
.message-send{
    @extend .message;
    flex-direction: row-reverse;
}
.avatar{
    $size: 2em;
    height: $size;
    width: $size;
    border-radius: 50%;
}